<div class="card mb-2 mt-2">
    <div class="card-header bg-dark text-white">
        <h5><i class="far fa-eye"></i> Mas vistos</h5>
    </div>
    <div class="card-body">
        <div class="row">
        {{#each sidebar1.visited}}
            <div class="col-md-6">
                <a href="/images/{{filename}}">
                    <img src="../../public/uploads/{{filename}}" alt="" class="w-100 h-100 img-thumbnail">
                </a>
            </div>
        {{/each}}
        </div>
    </div>
</div>